$primary: #d2b48c;
$success: #1a472a;
$warning: #959672;
$danger: #6f4e37;
$secondary: #5c4033;

@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
}
